@page
@model IndexModel
@{
        ViewData["Title"] = "Hóa Đơn";
}
<style>
    tr:hover td {
        background-color: skyblue;
    }

    .hover {
        background-color: skyblue;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-7">
                <div class="card flex-column ">
                    <div class="divider mx-3 mt-3 form-group row " style="order: 1;">
                        <input style="width: 350px;" type="text" class="form-control" value="" id="searchString" placeholder="Sản Phẩm...">
                        <button type="submit" class="btn btn-primary mx-3" onclick="searchProduct()">Tìm kiếm</button>
                    </div>
                    <div class="card mx-3" id="mySearch" style="position: absolute; left: 0; z-index: 10;top:55px; display:none; order: 2; overflow: auto; max-height: 500px;">
                        <table class="table table-responsive-sm" id="tableSearch">
                            <thead>
                                <tr>
                                    <th style="font-size:12px;">Mã Sản Phẩm</th>
                                    <th style="font-size:12px;">Tên Sản Phẩm</th>
                                    <th style="font-size:12px;">Giá</th>
                                    <th style="font-size:12px;">Tồn Kho</th>
                                    <th style="font-size:12px;">Khách Hàng Đặt</th>
                                </tr>
                            </thead>
                            <tbody id="productSearch">
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body mt-auto" style="order: 2; overflow: auto; max-height: 485px;">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th style="font-size:12px;">STT</th>
                                    <th style="font-size:12px;">Mã Sản Phẩm</th>
                                    <th style="font-size:12px;">Tên Sản Phẩm</th>
                                    <th style="font-size:12px;">Giá</th>
                                    <th style="font-size:12px;">Số Lượng</th>
                                    <th style="font-size:12px;">Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody id="productTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-lg-5 ">
                <div class="card d-flex flex-column" style="height:550px;">
                    <div class="mx-1 mt-3 mt-autoform-group row">
                        <div class="col-md-6 text-left">
                            <select class="form-control form-control-sm" id="Username" name="Username">
                                <option value="thutt">Trương Thu</option>
                            </select>
                        </div>
                        <div class="col-md-6 float-right text-right">
                            <div id="current-time"></div>
                        </div>
                    </div>
                    <div class="mx-3 mt-auto form-group row mt-3">

                        <div class="col-md-10">
                            <div class="row">
                                <input style="width: 250px;" type="text" class="form-control " id="searchCus" placeholder="Khách Hàng...">
                                <button type="submit" class="btn btn-primary mx-3" onclick="Customer()">Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="card md-10 mt-5 mx-3" id="idSearchCustomer" style="position: absolute;  left: 0; z-index: 10;top:55px;display:none; overflow: auto; max-height: 400px;">
                            <table class="table table-responsive-sm" id="tableSearchCustomer">
                                <thead>
                                    <tr>
                                        <th style="font-size:14px;">ID</th>
                                        <th style="font-size:14px;">Tên Khách Hàng</th>
                                    </tr>
                                </thead>
                                <tbody id="customerSearch">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>
                    <div class="mx-3  mt-auto form-group row">
                        <label class="col-md-3 col-form-label" for="customerName" style="font-weight: bold;">Khách Hàng</label>
                        <div class="col-md-7">
                            <span class="form-control" id="nameCustomer"></span>
                        </div>
                        <span class="form-control" style="display:none;" id="customerId"></span>
                    </div>
                    <div class="mx-3  mt-auto form-group row">
                        <label class="col-md-3 col-form-label" for="totalBill" style="font-weight: bold;">Tổng Tiền</label>
                        <div class="col-md-7">
                            <span class="form-control" id="totalBill">0</span>
                        </div>
                        <div class="col-md-2 mt-1">VND</div>
                    </div>
                    <div class="mx-3  mt-auto form-group row">
                        <label class="col-md-3 col-form-label" for="discount" style="font-weight: bold;">Giảm Giá</label>
                        <div class="col-md-7">
                            <input class="form-control" id="discount" name="discount" type="number" min="0" value="0" onclick="updateMoney()">
                        </div>
                        <div class="col-md-2 mt-1">%</div>
                    </div>
                    <div class="mx-3  mt-auto form-group row">
                        <label class="col-md-3 col-form-label " for="money" style="font-weight: bold;">Thành Tiền: </label>
                        <div class="col-md-7">
                            <span class="form-control" id="money">0</span>
                        </div>
                        <div class="col-md-2">VND</div>
                    </div>
                    <div class=" mt-auto form-group d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mx-3" style="height:50px; width:350px; font-size:20px; font-weight: bold;" onclick="SaveOrder()">
                            Đặt Hàng
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
    </div>
</div>
<!-- Add new customer -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Tạo Thông Tin Khách Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control mt-3" id="nameCustomer1" type="text" placeholder="Tên Khách Hàng...">
                <input class="form-control mt-3" id="phoneCustomer" type="text" placeholder="Số Điện Thoại...">
                <input class="form-control mt-3" id="emailCustomer" type="email" placeholder="Email...">
                <input class="form-control mt-3" id="addressCustomer" type="text" placeholder="Địa Chỉ...">
                <input class="form-control mt-3" id="dobCustomer" type="date" placeholder="Ngày Sinh...">
                <input class="form-control mt-3" id="descriptionCustomer" type="text" placeholder="Ghi Chú...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="createCustomer()">Tạo</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Lấy thẻ div chứa kết quả tìm kiếm
    const searchResults = document.getElementById('mySearch');
    // Lắng nghe sự kiện click của document
    document.addEventListener('click', function(event) {
        // Kiểm tra nếu người dùng click ra ngoài thẻ div chứa kết quả tìm kiếm
        if (!searchResults.contains(event.target)) {
            // Thiết lập thuộc tính display của thẻ div thành none để ẩn đi
            searchResults.style.display = 'none';
        }
    });

    // Lấy thẻ div chứa kết quả tìm kiếm
    const searchC = document.getElementById('idSearchCustomer');
    // Lắng nghe sự kiện click của document
    document.addEventListener('click', function(event) {
        // Kiểm tra nếu người dùng click ra ngoài thẻ div chứa kết quả tìm kiếm
        if (!searchC.contains(event.target)) {
            // Thiết lập thuộc tính display của thẻ div thành none để ẩn đi
            searchC.style.display = 'none';
        }
    });
    var input = document.getElementById("discount");
    input.addEventListener("input", function(event) {
        updateMoney();
    });

    setInterval(function() {
        var currentTime = new Date();
        var options = { timeZone: 'Asia/Ho_Chi_Minh', hour12: false };
        var vnTime = currentTime.toLocaleString('en-US', options);
        document.getElementById('current-time').innerHTML = vnTime;
    }, 1000);

        $(document).ready(function() {
        $('tr').hover(function() {
            $(this).addClass('hover');
        }, function() {
            $(this).removeClass('hover');
        });
    });

    $(document).on('input', 'input[id^="quantityP-"]', function() {
        var inputSuffix = $(this).attr('id').split('-')[1];
        updateT(inputSuffix);
    });
    function createCustomer() {
        // Lấy dữ liệu từ các input fields trong form modal
        var name = $('#nameCustomer1').val();
        var phone = $('#phoneCustomer').val();
        var email = $('#emailCustomer').val();
        var dob = $('#dobCustomer').val();
        var address = $('#addressCustomer').val();
        var note = $('#descriptionCustomer').val();
        // Gửi dữ liệu lên server bằng phương thức POST
        $.ajax({
            url: 'http://localhost:5047/Admin/Customer/Create/?handler=Create',
            type: 'get',
            data: {
                Name: name,
                Note: note,
                Phone: phone,
                Address: address,
                Email: email,
                Dob: dob
            },
            success: function(result) {
                // Sau khi tạo thành công, ẩn modal
                $('#createModal').modal('hide');
            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
    // search customer
    function Customer() {
        var searchQuery = $('#searchCus').val();
        $.ajax({
            url: 'http://localhost:5047/Admin/Establish/SearchCustomer/?handler=Search',
            type: 'get',
            data: { query: searchQuery },
            success: function(result) {
                if (result) {
                    // Xóa các sản phẩm hiện có trong table
                    $('#customerSearch').empty();
                    // Thêm các sản phẩm tìm kiếm vào table
                    $.each(result, function(index, customer) {
                        var newRow = "<tr onclick='addCus(" + customer.id + ")'><td id='CusId-" + customer.id + "'>" + customer.id +
                            "</td><td id='cusName-" + customer.id + "'>" + customer.name + "</td></tr>";
                        $('#customerSearch').append(newRow);
                    });
                    document.querySelector("#idSearchCustomer").style.display = "block";
                }

            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
    //add customer vao div
    function addCus(id) {
        var idC = document.getElementById("customerId");
        var nameC = document.getElementById("nameCustomer");

        var nameCustomer = document.getElementById("cusName-" + id);
        nameC.textContent = nameCustomer.innerText;
        idC.textContent = id;
        document.querySelector("#idSearchCustomer").style.display = "none";
    }
    function checkRow(idProduct) {
        var tableBody = document.getElementById("productTableBody");
        var rows = tableBody.querySelectorAll("tr");
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            if (idProduct === cells[1].innerText) {
                return false;
            }
        }
        return true;
    }

    function searchProduct() {
        var searchQuery = $('#searchString').val();
        $.ajax({
            url: 'http://localhost:5047/Admin/Establish/SearchProduct/?handler=Search',
            type: 'get',
            data: { query: searchQuery },
            success: function(result) {
                if (result) {
                    // Xóa các sản phẩm hiện có trong table
                    $('#productSearch').empty();
                    // Thêm các sản phẩm tìm kiếm vào table
                    $.each(result, function(index, product) {
                        var newRow = "<tr onclick='addProductList(" + product.id + ")'><td id='Addproduct-" + product.id + "'>" + product.id +
                            "</td><td id='Addname-" + product.id + "'>" + product.name +
                            "</td><td id='Addprice-" + product.id + "'>" + product.salePrice +
                            "</td><td id='AddQInStock-" + product.id + "'>" + product.quantityInStock +
                            "</td><td id='AddQOrder-" + product.id + "'>" + product.quantityOrder + "</td></tr>";
                        $('#productSearch').append(newRow);
                    });
                    document.querySelector("#mySearch").style.display = "block";
                }

            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
    function addProductList(id) {
        var idP = document.getElementById('Addproduct-' + id).innerText;
        var nameP = document.getElementById('Addname-' + id).innerText;
        var priceP = document.getElementById('Addprice-' + id).innerText;
        var QInStockP = document.getElementById('AddQInStock-' + id).innerText;
        var QOrderP = document.getElementById('AddQOrder-' + id).innerText;

        var tableBody = document.getElementById("productTableBody");
        var rows = tableBody.querySelectorAll("tr");
        // xóa product trong search và đóng các product
        $('#productSearch').empty();
        document.querySelector("#mySearch").style.display = "none";

        if (checkRow(idP)) {
            var newRow = "<tr><td id='stt-" + idP + "'>" + rows.length +
                "</td><td id='product-" + idP + "'>" + idP +
                "</td><td id='name-" + idP + "'>" + nameP +
                "</td><td id='price-" + idP + "'>" + priceP +
                "</td><td> <input class='form-control' id='quantityP-" + idP + "' name='quantityPL' onclick='updateT(" + idP + ")' type='number' style= 'width: 75px;' min='0' value='1'>" +
                "</td><td id='total-" + idP + "'>" + 0 + "</td></tr>";
            $('#productTableBody').append(newRow);
            updateT(idP);
        }
        else {
            updateProduct(idP);
        }
        updateTotalBill();
        updateMoney();
    }
    function updateT(id) {
        var input = document.getElementById('quantityP-' + id);
        //update total
        var idtotal = document.getElementById('total-' + id);
        var idprice = document.getElementById('price-' + id);
        var oldPrice = idprice.innerText;

        var total = parseInt(input.value) * parseInt(oldPrice);
        idtotal.textContent = total;

        updateTotalBill();
        updateMoney();
    }
    function updateProduct(id) {

        var quantityP = $('#quantityP-' + id);
        var oldQuantity = quantityP.val();
        var newQuantity = parseInt(oldQuantity) + 1;
        var input = document.getElementById('quantityP-' + id);
        input.value = newQuantity;
        //update total
        var idtotal = document.getElementById('total-' + id);
        var idprice = document.getElementById('price-' + id);

        var oldTotal = idtotal.innerText;
        var oldPrice = idprice.innerText;

        var total = parseInt(newQuantity) * parseInt(oldPrice);
        idtotal.textContent = total;
    }
    function updateTotalBill() {
        var totalBill = $('#totalBill').innerText;
        //danh sách product
        var products = [];
        var tableBody = document.getElementById("productTableBody");
        var rows = tableBody.querySelectorAll("tr");
        var t = 0;
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var product = {
                stt: cells[0].innerText,
                id: cells[1].innerText,
                name: cells[2].innerText,
                price: cells[3].innerText,
                quantity: $('#quantityP-' + cells[1].innerText).val(),
                total: cells[5].innerText
            };
            t += parseInt(product.total);
            products.push(product);
        }
        document.getElementById("totalBill").textContent = t;
    }
    function updateMoney() {
        //update mục thành tiền
        var totalBill = document.getElementById("totalBill").innerText;
        var discount = $('#discount').val();
        var money = document.getElementById("money").innerText;
        var t = 0;
        document.getElementById("money").textContent = parseInt(totalBill) - ((parseInt(totalBill) * parseInt(discount)) / 100);
    }
    function SaveOrder() {
        var usern = $('#Username').val();
        var custId = document.getElementById("customerId").innerText;
        var tot = document.getElementById("totalBill").innerText;
        var dis = $('#discount').val();
        var money = document.getElementById("money").innerText;
        $.ajax({
            url: 'http://localhost:5047/Admin/Establish/CreateBill/?handler=CreateBill',
            type: 'get',
            data: {
                username: usern,
                customerId: custId,
                totalbill: tot,
                discount: dis,
                deposit: money
            },
            success: function(result) {
                SaveProducts(result);
                console.log(result);
            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
        function SaveProducts(idB) {
        var products = [];
        var tableBody = document.getElementById("productTableBody");
        var rows = tableBody.querySelectorAll("tr");
        var t = 0;
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            
            var product = {
                Idbill: idB,
                Idproduct: parseInt(cells[1].innerText),
                Price: parseFloat(cells[3].innerText),
                Quatity: parseInt($('#quantityP-' + cells[1].innerText).val())
            };
            products.push(product);
            $.ajax({
            url: 'http://localhost:5047/Admin/Establish/CreateProductInBills',
            type: 'get',
            data: {
                Idbill: idB,
                Idproduct: parseInt(cells[1].innerText),
                Price: parseFloat(cells[3].innerText),
                Quatity: parseInt($('#quantityP-' + cells[1].innerText).val())
            },
            success: function(result) {
                console.log(result);
            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
        } 
    }   
</script>
