@page
@model ProjectFinal.Pages.Establish.ImportProductsModel
@{
    ViewData["Title"] = "Nhập";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row" style="height:100px;">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Nhập Hàng
                </div>
            </div>
            <form method="post">
            <div class="mx-5">
                    <div class="form-group">
                        <label asp-for="ImportProduct.UserName" class="control-label"></label>
                        <input asp-for="ImportProduct.UserName" value="thutt" class="form-control" />
                        <span asp-validation-for="ImportProduct.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Tên Người Nhập</label>
                        <input value="Trương Thu" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ImportProduct.DateImport" class="control-label"></label>
                        <input asp-for="ImportProduct.DateImport" class="form-control" />
                        <span asp-validation-for="ImportProduct.DateImport" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImportProduct.TotalBill" class="control-label"></label>
                        <input asp-for="ImportProduct.TotalBill" class="form-control" />
                        <span asp-validation-for="ImportProduct.TotalBill" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="productype">Nhà Phân Phối</label>
                        <div class="col-md-8">
                            <select asp-for="ImportProduct.Supplier" class="form-control" id="productype" name="productype">
                                <option value="0">Chọn Nhà Phân Phối</option>
                                @foreach (var p in Model.dbContext.Suppliers)
                                {
                                    <option value="@p.Id">@p.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary mx-3" data-toggle="modal" data-target="#createModal">
                            Nhập Sản Phẩm
                        </button>
                    </div>

                    <div class="card-body">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Giảm Giá</th>
                                    <th>Tổng</th>
                                </tr>
                            </thead>
                            <tbody id="myTableBody">
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                    
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Products -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel"> Thông Tin Sản Phẩm </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="product">Sản Phẩm</label>
                    <div class="col-md-9">
                        <select class="form-control" id="idproduct" name="product">
                            <option value="0">Chọn Sản Phẩm</option>
                            @foreach (var p in Model.Products)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="quantity">Số Lượng Nhập</label>
                    <div class="col-md-9">
                        <input class="form-control mt-3" id="quantityproduct" name="quantity" value="0" min="1" type="number" placeholder="Số Lượng... ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="discount">Giảm Giá</label>
                    <div class="col-md-9">
                        <input class="form-control mt-3" id="discountproduct" name="discount" value="0" min="0" type="number" placeholder="Giảm Giá... ">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="addProduct()">Thêm Sản Phẩm</button>
            </div>
        </div>
    </div>
</div>
<script>
    function addProduct() {

        //Lấy dữ liệu từ các input fields trong form modal
        var idProduct = $('#idproduct').val();
        var quantity = $('#quantityproduct').val();
        var discount = $('#discountproduct').val();
        if (checkRow(idProduct)) {
            var price = null;
            var name = null;
            var countPro = countProduct();
            $.ajax({
                type: 'GET',
                url: "http://localhost:5047/Establish/ImportProducts/?handler=Product&id=" + idProduct,
                success: function(data) {
                    price = data.salePrice;
                    name = data.name
                    var total = (quantity * price) * (1 - (discount / 100));
                    //newRow
                    var newRow = "<tr><td id ='"+idProduct+"'>" + idProduct 
                    + "</td><td id = 'name-"+idProduct+"'>" +name 
                    + "</td><td id = 'price-"+idProduct+"'>" +price 
                    + "</td><td id = 'quantity-"+idProduct+"'>" +quantity 
                    + "</td><td id = 'discount-"+idProduct+"'>" +discount 
                    + "</td><td id = 'total-"+idProduct+"'>" +total + "</td></tr>";
                    $('#myTableBody').append(newRow);
                    $('#createModal').modal('hide');
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        }
        else{
            updateQuantity(idProduct,quantity);
        }
    }
    function countProduct(){
        var products = [];
        var tableBody = document.getElementById("myTableBody");
        var rows = tableBody.querySelectorAll("tr");
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var product = {
                id: cells[0].innerText,
                name: cells[1].innerText,
                price: cells[2].innerText,
                quantity: cells[3].innerText,
                discount: cells[4].innerText,
                total: cells[5].innerText,
            };
            products.push(product);
        }
        return products.length;
    }
    function checkRow(idProduct) {
        var products = [];
        var tableBody = document.getElementById("myTableBody");
        var rows = tableBody.querySelectorAll("tr");
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var product = {
                id: cells[0].innerText,
                name: cells[1].innerText,
                price: cells[2].innerText,
                quantity: cells[3].innerText,
                discount: cells[4].innerText,
                total: cells[5].innerText,
            };
            if (idProduct === product.id) {
                return false;
            }
            products.push(product);
        }
        console.log(products);
        return true;
    }
    function updateQuantity(idProduct,quantity){
        // update quantity
        var idQuantity = 'quantity-' + idProduct;
        var p = document.getElementById(idQuantity);
        var oldQuantity = p.innerText;
        var newQuantity = parseInt(oldQuantity) + parseInt(quantity);
        p.textContent = newQuantity;
        //update total
        var idTotal = 'total-' + idProduct;
        var idPrice = 'price-' + idProduct;
        var idDiscount = 'total-' + idProduct;

        var t =  document.getElementById(idTotal);
        var pr =  document.getElementById(idPrice);
        var dis =  document.getElementById(idDiscount);

        var oldTotal = t.innerText;
        var oldPrice = pr.innerText;
        var oldDiscount = dis.innerText;

        var total = (parseInt(newQuantity) * parseInt(oldPrice)) * (1 - (parseInt(oldDiscount) / 100));
        t.textContent = total;
        $('#createModal').modal('hide');
    }

    function addImport() {
         //Lấy dữ liệu từ các input fields trong form modal
        var username1 = $('#username').val();
        var dateImport1 = $('#dateImport').val();
        var totalBill1 = $('#totalBill').val();
        var productype1 = $('#productype').val();

        var products1 = [];
        var tableBody = document.getElementById("myTableBody");
        var rows = tableBody.querySelectorAll("tr");
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var product = {
                id: cells[0].innerText,
                name: cells[1].innerText,
                price: cells[2].innerText,
                quantity: cells[3].innerText,
                discount: cells[4].innerText,
                total: cells[5].innerText,
            };
            if (idProduct === product.id) {
                return false;
            }
            products1.push(product);
        }

        // Gửi dữ liệu lên server bằng phương thức get
        $.ajax({
            url: 'http://localhost:5047/Establish/CreateImportProduct/?handler=Create',
            type: 'post',
            data: {
                username = username1,
                dateImport = dateImport1,
                totalBill = totalBill1,
                ProductType = productype1,
                products = products1
            },
            success: function(result) {

                // Reload trang để cập nhật danh sách nhà phân phối
                location.reload();
            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
*@