<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-speedometer"></i> Trang Chủ
                </a>
            </li>
            <li class="nav-title">Thiết Lập</li>
                        <li class="nav-item">
                <a class="nav-link" href="/Establish/Order">
                    <i class="nav-icon fa fa-cart-plus fa-sm"></i> Đặt Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Establish/Bill">
                     <i class="nav-icon fa fa-shopping-basket fa-sm"></i> Hóa Đơn
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                     <i class="nav-icon fa fa-angle-double-left fa-sm"></i> Trả hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Establish/ImportProducts">
                    <i class="nav-icon fa fa-shopping-cart fa-sm"></i> Nhập Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon fa fa-angle-double-right fa-sm"></i> Trả Hàng Nhập
                </a>
            </li>

            <li class="nav-title">Quản Lý</li>
            <li class="nav-item">
                <a class="nav-link" href="/managerment/products">
                    <i class=" nav-icon icon-drawer icons font-xs"></i> Hàng Hóa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/managerment/pricesetting">
                    <i class="nav-icon fa fa-align-center fa-sm"></i> Thiết Lập Giá
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/managerment/inventorycontrolproduct">
                    <i class="nav-icon fa fa-th fa-sm"></i> Kiểm Kho
                </a>
            </li>

            <li class="nav-title">Danh Sách Giao Dịch</li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/orders">
                    <i class="nav-icon fa fa-th-large fa-sm"></i> Đặt Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/bills">
                     <i class="nav-icon fa fa-clipboard fa-sm"></i> Hóa Đơn
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/returns">
                    <i class="nav-icon fa fa-rotate-left fa-sm"></i> Trả hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/imports">
                    <i class="nav-icon fa fa-th-list fa-sm"></i> Nhập Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/returnimports">
                    <i class="nav-icon fa fa-repeat fa-sm"></i> Trả Hàng Nhập
                </a>
            </li>

            <li class="nav-title">Khách Hàng</li>

            <li class="nav-item">
                <a class="nav-link" href="/customer/customers">
                    <i class="nav-icon fa fa-user-circle fa-sm"></i> Khách Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> Đơn Nợ
                </a>
            </li>


            <li class="nav-title">Nhà Phân Phối</li>
            <li class="nav-item">
                <a class="nav-link" href="/Suppiler/Suppilers">
                    <i class="nav-icon fa fa-handshake-o fa-sm"></i> Nhà Phân Phối
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> Đơn Nợ
                </a>
            </li>


              
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>