<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Thiết Lập</li>
                        <li class="nav-item">
                <a class="nav-link" href="/Cashier/Establish/Order">
                    <i class="nav-icon fa fa-cart-plus fa-sm"></i> Đặt Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Cashier/Index">
                     <i class="nav-icon fa fa-shopping-basket fa-sm"></i> Hóa Đơn
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Cashier/Establish/Return">
                     <i class="nav-icon fa fa-angle-double-left fa-sm"></i> Trả hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Cashier/Establish/ImportProducts">
                    <i class="nav-icon fa fa-shopping-cart fa-sm"></i> Nhập Hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Cashier/Establish/ReturnImport">
                    <i class="nav-icon fa fa-angle-double-right fa-sm"></i> Trả Hàng Nhập
                </a>
            </li>

           
             </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>